
$font-stack: Helvetica, Arial, sans-serif;
$font-apple: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
$primary-color: #606266;
$primary-text:#65676b;
$primary-text-1:#050505;
$primary-white:white;
$primary-input:#F0F2F5;
$primary-hover:#e4e6eb;
$primary-hover-1:#D8DADF;
$primary-button:#1b74e4;
$box_shadow-1: rgba(0, 0, 0, 0.1) 0px 2px 8px 0px;
$box_shadow-2: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
$box_shadow-5: rgba(0, 0, 0, 0.5) 0px 2px 8px 0px;
$box_shadow-8: rgba(0, 0, 0, 0.8) 0px 2px 8px 0px;
$box_shadow-inset: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;




