.container {
  padding-top: 5.6rem;
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.side-bar__left {
  min-width: 27rem;
  padding: 0 1rem 0;
}

.side-bar-right {
  width: 27rem;
  padding: 0 1rem;
}

.sbr__contact {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 1rem;
}

.sbr__contact--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.sbr__contact--title {
  font-size: 1.5rem;
  font-weight: 500;
}

.sbr__contact--header--action {
  display: flex;
}
.sbr__contact--header--action span {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 0.5rem;
  background-color: #e4e6eb;
}
.sbr__contact--header--action span:hover {
  background-color: #D8DADF;
}
.sbr__contact--header--action span svg {
  height: 2rem;
  width: 2rem;
}

.sbr__contact--list {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.sbr__contact--list-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}
.sbr__contact--list-item:hover {
  background-color: #e4e6eb;
}

.sbr__contact--list-item-avt {
  width: 3rem;
  overflow: hidden;
  height: 3rem;
  position: relative;
  margin-right: 1rem;
}
.sbr__contact--list-item-avt::before {
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  bottom: 0;
  right: 0;
  display: block;
  background-color: #31a24c;
  border: 2px solid #f0f2f5;
  position: absolute;
  z-index: 7;
  font-size: 3rem;
}
.sbr__contact--list-item-avt img {
  object-fit: contain;
  width: 100%;
  border-radius: 50%;
  height: 100%;
}

.sbr__contact--list-item-name {
  font-size: 1.4rem;
}

.hidden_scroll {
  height: 100%;
  overflow: hidden scroll;
  width: 100%;
  margin-top: 1rem;
}

.middle-container {
  overflow: hidden scroll;
  flex: 1;
  background-color: #f0f2f5;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
}

.middle-content {
  max-width: 50rem;
  width: 100%;
  margin-top: 1.5rem;
  padding: 1rem;
  box-sizing: content-box;
}

.mid-header__tab {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
}

.mid-header__tab--list {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding: 0 1rem;
}

.mid-header__tab--list-item {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  margin: 0 0.5rem;
  font-size: 1.5rem;
  color: #65676b;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
}
.mid-header__tab--list-item:hover {
  background-color: #e4e6eb;
}

.active_tab {
  color: #1b74e4 !important;
}
.active_tab:hover {
  background-color: transparent;
}
.active_tab::before {
  height: 0.3rem;
  border-radius: inherit;
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  background-color: #1b74e4;
}

.active__tab-content {
  display: block !important;
}

.mid-header__tab-content-item {
  display: none;
}

.card-list {
  margin: 2rem 1.5rem 0rem 1.5rem;
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
}

.card-create {
  min-width: 11rem;
  position: relative;
  cursor: pointer;
  background-color: white;
  border: 1px solid #e4e6eb;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
  min-height: 20rem;
  border-radius: 1.5rem;
  overflow: hidden;
  margin-right: 0.3rem;
}
.card-create img {
  width: 100%;
  pointer-events: none;
  height: 80%;
  object-fit: cover;
}

.card-create-icon {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 4rem;
  height: 4rem;
  border: 5px solid white;
  background-color: #1b74e4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-create-icon svg {
  width: 2rem;
  height: 2rem;
  fill: white;
}

.card-create-text {
  text-align: center;
  margin-top: 1rem;
  height: 100%;
}

.card-item,
.card__item-more {
  position: relative;
  margin: 0 0.3rem;
  min-width: 11rem;
  position: relative;
  cursor: pointer;
  border: 1px solid #e4e6eb;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
  min-height: 20rem;
  border-radius: 1.5rem;
  overflow: hidden;
}
.card-item:hover img,
.card__item-more:hover img {
  transition: all 0.1s linear;
}
.card-item img,
.card__item-more img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-item-user {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  padding: 1.5rem 1.2rem 0.5rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  border-radius: inherit;
  background-color: rgba(0, 0, 0, 0.2);
}
.card-item-user:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.card-item-user .card-item-avatar {
  width: 3.5rem;
  height: 3.5rem;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #1b74e4;
}
.card-item-user .card-item-avatar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card-item-user .card-item-name {
  color: white;
  font-size: 1.3rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

#tab_two .card-item-avatar {
  background-color: transparent;
  border: none;
}

#tab_two .card-item-name {
  display: flex;
  align-items: center;
}
#tab_two .card-item-name span {
  margin-right: 0.2rem;
}
#tab_two .card-item-name svg {
  width: 1rem;
  height: 1rem;
}

.card__item-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.3rem;
  text-align: center;
}
.card__item-more:hover {
  background-color: #F0F2F5;
}
.card__item-more .card__item-more-icon {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #e4e6eb;
}
.card__item-more .card__item-more-icon svg {
  height: 2rem;
  width: 2rem;
}

.room__card {
  scroll-snap-type: x mandatory;
  margin-top: 1.5rem;
  margin: 2rem 1.5rem 0rem 1.5rem;
  overflow-x: scroll;
  display: flex;
}

.room__card-item {
  min-width: 20rem;
  margin: 0 0.5rem;
  position: relative;
  height: 20rem;
  display: flex;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px 0px;
  border: 1px solid #e4e6eb;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
}
.room__card-item:hover {
  background-color: #F0F2F5;
}

.room__card-item-avatar,
.room__card-item-icon {
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  position: relative;
  border-radius: 50%;
  border: 1px solid #cce3fa;
}

.room__card-item-icon svg {
  width: 3rem;
  height: 3rem;
  fill: #b44fba;
}

.room__card-item-avatar::before {
  content: "";
  display: block;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 4;
  position: absolute;
  background-color: #31a24c;
  border: 1px solid #e4e6eb;
  bottom: 0;
  right: 0;
}
.room__card-item-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.room__card-item-text {
  color: #050505;
  line-height: 1.6;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  font-size: 1.4rem;
  font-weight: 500;
}

.room__card-item-sub-text {
  font-size: 1.2rem;
  color: #606266;
}

.room__card-item-button {
  width: 100%;
  margin-top: auto;
  color: #1b74e4;
  padding: 0.8rem 1.4rem;
  border: 2px solid #cce3fa;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: transparent;
}
.room__card-item-button:hover {
  background-color: #e4e6eb;
}

.room__card-item-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.room__card-item-info:hover {
  background-color: #F0F2F5;
}
.room__card-item-info svg {
  fill: #65676b;
  width: 1.5rem;
  height: 1.5rem;
}

.mid-create__post {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: white;
  margin: 2rem 0;
  padding: 1.5rem;
}

.m-c__p-header {
  display: flex;
}

.m-c__p-header--avt {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  border: 1px solid #e4e6eb;
}
.m-c__p-header--avt img {
  width: 100%;
  height: 100%;
}

.m-c__p-header--input {
  flex: 1;
  border: none;
  background-color: #F0F2F5;
  border-radius: 3rem;
  padding: 0.5rem 1.5rem;
  margin: 0 0 0 1rem;
  outline: none;
  font-size: 1.7rem;
}

.m-c__p-bottom {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 1rem 0;
}

.m-c__p-bottom-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.m-c__p-header--action-item-icon {
  height: 2.3rem;
  width: 2.3rem;
}

.m-c__p-header--action-item-text {
  font-size: 1.5rem;
  color: #65676b;
  font-weight: 500;
  margin-left: 0.5rem;
}

@media screen and (min-width: 1028px) {
  .box-screen {
    display: block !important;
  }
}

/*# sourceMappingURL=home.css.map */
